{% extends "base.html" %}

{%block content%}


<section data-id="1da06ef" class="elementor-element elementor-element-1da06ef elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-element_type="section">
					<div class="elementor-widget-container">
			<h1 class="elementor-heading-title elementor-size-default" style="color: white; text-align: center; font-size: 30px;">Страница в разработке</h1>		<p></p></div>

			

			
			

				





			
			

						
		</section>
{% endblock %}